<!-- 
  ########################## 
  Blogs Area -->
<section class="blog @@padding @@blog-two">
  <div class="container">
    <div class="row @@disply">
      <div class="col-lg-8 mx-auto">
        <div class="section-header ">
          <h2><span>Resources</span> for makers & creatives to learn
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-1.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-2.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-3.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-4.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-5.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-6.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <!-- start more hide blog -->
      <div class="col-lg-4 col-md-6 next-blog">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-4.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6 next-blog">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-5.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6 next-blog">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-6.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6 next-blog">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-1.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6 next-blog">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-2.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6 next-blog">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-3.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag @@category">
              <a href="taxonomy.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html" class="">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="more-blog d-flex justify-content-md-center ">
        <a href="#" class="load-more btn btn-sm btn-white mt-lg-7 mb-xxl-12 mb-6">See more</a>
      </div>
    </div>
  </div>
</section>