<!-- 
  ########################## 
  Blog Page hero Area -->

<section class="blog-hero  pt-xl-22 pt-sm-20 pt-18 pb-xxl-25 pb-xl-23 pb-22  position-relative">
  <div class="container ">
    <div class="row">
      <div class="col-xl-8 col-lg-10 mx-auto">
        <div class="blog-hero-content" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
          <h1 class="blog-hero-title">
            @@title
          </h1>
          <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you customer
            relationships that last.</p>
        </div>
      </div>
    </div>
  </div>
</section>