<!-- 
  ########################## 
  Contact Form Section -->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class=" col-lg-5 me-auto order-2 order-lg-1">
        <!-- start contact-five-info -->
        <div class="contact-form-Information">
          <!-- start address -->
          <div class="address">
            <h3>Office Address</h3>
            <p>1421 San Pedro St, Los Angeles, CA 90015</p>
            <div class="item mb-4">
              <h3>Phone</h3>
              <a href="tel:  (546) 232 - 9873">(546) 232 - 9872
                <span>
                  <img src="images/contact/call-add.svg" alt="call-add">
                </span>
              </a>
            </div>
            <div class="item">
              <h3>Email</h3>
              <a href="mailto:info@staticmania.com">info@staticmania.com
                <span>
                  <img src="images/contact/directbox-send.svg" alt="send-box">
                </span>
              </a>
            </div>
          </div>
          <!-- start address -->
        </div>
        <!-- end contact-five-info -->
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <div class="contact-form">
          <form class="">
            <h3>Say Hello </h3>
            <div class="col-md-12">
              <label for="Name" class="label">Full Name</label>
              <input type="text" class="form-control" id="Name" placeholder="Enter First Name " required="">
            </div>
            <div class="col-md-12">
              <label for="Name" class="label">Phone number</label>
              <input type="number" class="form-control" id="Name" placeholder="Enter Phone Number" required="">
            </div>
            <div class="col-md-12">
              <label for="email" class="label">Emaill Address</label>
              <input type="email" class="form-control mb-6" id="email" placeholder="Enter Emaill Address" required="">
            </div>
            <div class="col-12">
              <label for="email" class="label">Your Messages</label>
              <textarea class="form-control mb-4" id="floatingTextarea2" placeholder="Any Message" rows="8"
                spellcheck="false"></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-lg mt-7 ">
                <span class=" position-relative">
                  Send message
                </span>

              </button>
            </div>
          </form>
          <div class="effect">
            <img src="images/contact/effects.png" alt="effects">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>