<section class="cta @@cta-two">
  <div class="container">
    <div class="row">
      <div class="col-xxl-7 col-lg-8 mx-auto">
        <div class="section-header">
          <h2>Share your Email For Latest News</h2>
          <p>The latest news, articles, and resources, sent to your inbox weekly.</p>
          <form action="#" class="cta-subscribe-form">
            <div class="from-group">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter Your E-mail">
                <div class="subscribe">
                  <a href="#" class="btn btn-primary btn-lg">
                    Subscribe
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>