<!--
  #############
  Feature Hero Section-->
<section class="feature-hero-two">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-hero-two-content" data-aos="fade-right" data-aos-duration="600" data-aos-once="true">
          <h1 class="">Professional Template made for you</h1>
          <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing.</p>
          <div class="d-block mb-6">
            <a href="#" class="btn btn-primary btn-lg">
              Try This Free
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-hero-two-banner" data-aos="fade-left" data-aos-duration="600" data-aos-once="true">
          <img src="images/feature/feature-hero-two.png" alt="banner-image">
          <div class="shape">
            <img src="images/feature/effect-7.png" alt="shape">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>