<!-- 
  ################
  Feature Area -->
<section class="feature @@bg-color @@padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header @@disply">
          <h2>Sendit <span>Features</span>
          </h2>
          <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you customer
            relationships that last.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-item-banner mb-sm-12 mb-lg-20 mb-xxl-25 mb-9">
          <div class="card-image">
            <img src="images/feature/feature-card-one.png" alt="card-images">
          </div>
          <div class="effect-one">
            <img src="images/feature/effect-1.png" alt="effect-image">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-item-content mb-xl-20 mb-15 ps-xxl-9 ps-0">
          <h2>Text Message in One Minute</h2>
          <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you customer
            relationships that last.</p>
          <ul class="list-unstyled mb-md-5 mb-xxl-11">
            <li>we get you customer relationships that last.</li>
            <li>SaaSFlow doesn't just help you with your email marketing</li>
          </ul>
          <div class="Learn-more">
            <a href="sign-up.html" class="">
              Try This Free
              <i class="ph-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="feature-item-content mb-xl-20 mb-md-15 mb-11 ps-xxl-9 ps-0">
          <h2 class="pe-xl-0">See Everything as a Lead in one Place</h2>
          <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you customer
            relationships that last.</p>
          <ul class="list-unstyled mb-md-5 mb-xxl-11">
            <li>we get you customer relationships that last.</li>
            <li>SaaSFlow doesn't just help you with your email marketing</li>
          </ul>
          <div class="Learn-more">
            <a href="sign-up.html" class="">
              Try This Free
              <i class="ph-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <div class="feature-item-banner mb-lg-20 mb-xxl-25 mb-8">
          <div class="card-image">
            <img src="images/feature/feature-card-two.png" alt="card-images">
          </div>
          <div class="effect-two">
            <img src="images/feature/effect-2.png" alt="effect-image">
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-item-banner mb-md-15 mb-lg-20 mb-xxl-24 mb-9">
          <div class="card-image">
            <img src="images/feature/feature-card-three.png" alt="card-images">
          </div>
          <div class="effect-three">
            <img src="images/feature/effect-3.png" alt="effect-image">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-item-content mb-xl-20 mb-lg-10 mb-md-12 mb-8 ps-xxl-9 ps-0">
          <h2 class="pe-lg-6">100% Free & unlimited space for upload </h2>
          <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you customer
            relationships that last.</p>
          <ul class="list-unstyled mb-md-5 mb-xxl-11">
            <li>we get you customer relationships that last.</li>
            <li>SaaSFlow doesn't just help you with your email marketing</li>
          </ul>
          <div class="Learn-more">
            <a href="sign-up.html" class="">
              Try This Free
              <i class="ph-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>