<!--
  #############
  Feature two section Section-->
<section class="feature-two @@bg-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="feature-two-banner ">
          <img src="images/feature/feature-card-four.png" alt="card-images">
          <div class="shape">
            <img src="images/feature/effect-5.png" alt="shape">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-two-wrapper ">
          <div class="feature-two-wrapper-content ">
            <h2>300+ Readymade Templates</h2>
            <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you
              customer
              relationships that last.</p>
            <ul class="list-unstyled mb-9">
              <li>we get you customer relationships that last.</li>
              <li>SaaSFlow doesn't just help you with your email marketing</li>
            </ul>
            <div class="Learn-more d-flex align-items-center justify-content-start mb-6">
              <a href="#" class="">
                Try This Free
                <i class="ph-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="shape">
            <img src="images/feature/effect-6.png" alt="shape">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>