<!-- 
  ################
  Feature Area -->
<section class="feature-three @@bg-color @@padding">
  <div class="container">
    <div class="row ">
      <div class="col-lg-6">
        <div class="feature-item-content mt-xxl-7 mb-xxl-20 mb-8 me-xxl-8 ">
          <h2>Drop and Drag Builder</h2>
          <div class="content-wrapper">
            <h2>Easy build design and Upload</h2>
            <ul class="list-unstyled">
              <li>we get you customer relationships that last.</li>
              <li>SaaSFlow doesn't just help you with your email marketing</li>
              <li>we get you customer relationships that last.</li>
            </ul>
          </div>
          <h2 class="mb-md-10 mb-6">Free Fonts use</h2>
          <div class="Learn-more d-flex align-items-center justify-content-start">
            <a href="#" class="">
              Try This Free
              <i class="ph-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-item-banner mb-xxl-25 mb-lg-15 mb-10">
          <div class="card-image">
            <img src="images/feature/feature-card-five.png" alt="card-images">
          </div>
          <div class="shape">
            <img src="images/feature/effect-2.png" alt="effect-image">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="feature-three-wrapper">
          <div class="feature-three-wrapper-content">
            <h2>Real time visitor Reports</h2>
            <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you
              customer relationships that last.</p>
            <ul class="list-unstyled mb-xxl-9">
              <li>we get you customer relationships that last.</li>
              <li>SaaSFlow doesn't just help you with your email marketing</li>
            </ul>
            <div class="Learn-more d-flex align-items-center justify-content-start mb-6">
              <a href="#" class="">
                Try This Free
                <i class="ph-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="shape">
            <img src="images/feature/effect-5.png" alt="shape">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-item-banner mb-xxl-19 mb-sm-8 mb-7 ">
          <div class="card-image">
            <img src="images/feature/feature-card-six.png" alt="card-images">
          </div>
          <div class="shape-two">
            <img src="images/feature/effect-6.png" alt="effect-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>