<!-- 
  ################
  Feature Area -->
<section class="feature-three @@bg-color @@padding">
  <div class="container">
    <div class="row ">
      <div class="col-lg-6">
        <div class="feature-accordion mt-xxl-7 mb-xxl-20 mb-sm-15 mb-8 me-xxl-8 ">
          <div class="accordion-two" id="accordionExample">
            <div class="accordion-item shows">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Drop and Drag Builder
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body mb-4">
                  <h3>Easy build design and Upload</h3>
                  <ul class="list-unstyled ">
                    <li>we get you customer relationships that last.</li>
                    <li>SaaSFlow doesn't just help you with your email marketing</li>
                    <li>we get you customer relationships that last.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Free Fonts use
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h3>Easy build design and Upload</h3>
                  <ul class="list-unstyled ">
                    <li>we get you customer relationships that last.</li>
                    <li>SaaSFlow doesn't just help you with your email marketing</li>
                    <li>we get you customer relationships that last.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="Learn-more d-flex align-items-center justify-content-start">
            <a href="sign-up.html" class="">
              Try This Free
              <i class="ph-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-item-banner mb-xxl-26 mb-lg-22 mb-10">
          <div class="card-image">
            <img src="images/feature/feature-card-five.png" alt="card-images">
          </div>
          <div class="shape">
            <img src="images/feature/effect-2.png" alt="effect-image">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="feature-three-wrapper">
          <div class="feature-three-wrapper-content">
            <h2>Real time visitor Reports</h2>
            <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you
              customer relationships that last.</p>
            <ul class="list-unstyled mb-xxl-9">
              <li>we get you customer relationships that last.</li>
              <li>SaaSFlow doesn't just help you with your email marketing</li>
            </ul>
            <div class="Learn-more d-flex align-items-center justify-content-start mb-5">
              <a href="sign-up.html" class="">
                Try This Free
                <i class="ph-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="shape">
            <img src="images/feature/effect-5.png" alt="shape">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-item-banner mb-xxl-19 mb-sm-8 mb-7 ">
          <div class="card-image">
            <img src="images/feature/feature-card-six.png" alt="card-images">
          </div>
          <div class="shape-two">
            <img src="images/feature/effect-6.png" alt="effect-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>