<!--
  #############
  Feature Hero Section-->
<section class="feature-hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-hero-content" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
          <h1 class="">Email campaigns Features</h1>
          <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you customer
            relationships that last.</p>
          <div class="d-block mb-6">
            <a href="sign-up.html" class="btn btn-primary btn-lg">
              Try This Free
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-hero-banner" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
          <img src="images/feature/feature-hero.png" alt="banner-image">
          <div class="shape">
            <img src="images/feature/effect-4.png" alt="shape">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>