<!-- 
  ########### 
  hero-two Area 
  ##########
-->
<section class="hero-two">
  <div class="hero-two-shape">
    <img src="images/hero/hero-two-shape.svg" alt="shape">
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero-two-content">
          <h1 class="mb-4">Email Marketing is Future for Grow Your Business Revenues</h1>
          <p class="mb-7 w-xxl-80">The stats are in our favour. SaaSFlow doesn't just help you with your email
            marketing, we
            get you customer relationships that last.
          </p>
          <div class="">
            <a href="#" class="btn btn-primary btn-lg">
              Try This Free
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero-two-banner">
          <img src="images/hero/hero-image-2.png" class="" alt="hero-two-images">
          <div class="hero-two-banner-shape">
            <img src="images/hero/hero-three-shape.svg" alt="shape">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
  ########### 
  End hero-two Area 
  ##########
-->