<!--
  #############
  Navbar Area-->
<header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg position-fixed w-100 zindex-dropdown" id="mainnavigationBar">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="images/logo.svg" alt="" class="">
      </a>
      <!--Navbar Toggler-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="3.5" y1="5.5" x2="21.5" y2="5.5" stroke="#292D32" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round" />
            <line x1="4.5" y1="12.5" x2="21.5" y2="12.5" stroke="#292D32" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round" />
            <line x1="11.5" y1="19.5" x2="21.5" y2="19.5" stroke="#292D32" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>

        </span>
        <span class="navbar-toggler-toggled">
          <svg width="20" height="20" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.5 6.5L6.5 21.5" stroke="#404152" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M21.5 21.5L6.5 6.5" stroke="#404152" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </button>
      <!--Navbar Menus Collapse-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-20 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle " href="index.html" role="button" data-bs-toggle="dropdown">Home</a>
            <ul class="dropdown-menu">
              <li class="dropdown-megamenu-conatiner ">
                <ul class="list-unstyled ">
                  <li class="dropdown-megamenu-column-items">
                    <a href="index.html" class="dropdown-item">Home One</a>
                  </li>
                  <li class="dropdown-megamenu-column-items">
                    <a href="home-two.html" class="dropdown-item ">Home Two</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">Feature</a>
            <ul class="dropdown-menu">
              <li class="dropdown-megamenu-conatiner ">
                <ul class="list-unstyled ">
                  <li class="dropdown-megamenu-column-items">
                    <a href="feature-one.html" class="dropdown-item">Features One</a>
                  </li>
                  <li class="dropdown-megamenu-column-items">
                    <a href="feature-two.html" class="dropdown-item ">Features Two</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">Pricing</a>
            <ul class="dropdown-menu">
              <li class="dropdown-megamenu-conatiner ">
                <ul class="list-unstyled ">
                  <li class="dropdown-megamenu-column-items">
                    <a href="pricing.html" class="dropdown-item ">pricing One</a>
                  </li>
                  <li class="dropdown-megamenu-column-items">
                    <a href="pricing-two.html" class="dropdown-item ">pricing Two</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class=" nav-item dropdown">
            <a class="nav-link  dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">About</a>
            <ul class="dropdown-menu">
              <li class="dropdown-megamenu-conatiner ">
                <ul class="list-unstyled ">
                  <li class="dropdown-megamenu-column-items">
                    <a href="about-one.html" class="dropdown-item">About One</a>
                  </li>
                  <li class="dropdown-megamenu-column-items">
                    <a href="about-two.html" class="dropdown-item ">About two</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link @@if(nav=='blog'){active}" href="blog.html">Blog</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link @@if(nav=='contact'){active}" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
      <div class="d-none d-lg-block">
        <li class="nav-item ">
          <a href="contact.html" class="btn btn-sm btn-links">
            Contact
          </a>
        </li>
      </div>
    </div>
  </nav>
</header>