<!--
  #############
  Pricing Section in HOme Page-->
<section class="pricing @@margin @@padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card pricing-item ">
          <h5 class="card-title">
            Free
          </h5>
          <p class="card-text">For starters Includes unlimited members</p>
          <div class="price">
            <p><span>$0</span></p>
            <div class="shape">
              <img src="images/pricing/shape-one.png" alt="shape">
            </div>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>
                <i class="ph-check"></i>
                1 Site Activation
              </li>
              <li>
                <i class="ph-check"></i>
                1 Year Premium Support
              </li>
              <li>
                <i class="ph-check"></i>
                Regular Update for 1 Year
              </li>
              <li class="">
                <i class="ph-check"></i>
                90+ Widgets & Extensions
              </li>
              <li class="">
                <i class="ph-check"></i>
                23+ Templates
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                Over 800 Section Blocks
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                Support
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                3 filters
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                Unlimited activity history
              </li>
            </ul>
            <div class="link">
              <a href="sign-up.html" class="btn btn-lg btn-white">
                Try This Free
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card pricing-item active">
          <h5 class="card-title">
            Pro
          </h5>
          <p class="card-text">More collaborative power and unlimited boards for fast-growing.</p>
          <div class="price">
            <p class="pricingtable">$125</p>
            <div class="discount">
              <p>$199</p>
              <div class="vector vector-one">
                <img src="images/pricing/Vector1.svg" alt="Vector">
              </div>
            </div>
            <div class="shape top-0">
              <img src="images/pricing/shape-two.png" alt="shape">
            </div>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>
                <i class="ph-check"></i>
                1 Site Activation
              </li>
              <li>
                <i class="ph-check"></i>
                1 Year Premium Support
              </li>
              <li>
                <i class="ph-check"></i>
                Regular Update for 1 Year
              </li>
              <li class="">
                <i class="ph-check"></i>
                90+ Widgets & Extensions
              </li>
              <li class="">
                <i class="ph-check"></i>
                23+ Templates
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                Over 800 Section Blocks
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                Support
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                3 filters
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                Unlimited activity history
              </li>
            </ul>
            <div class="link">
              <a href="sign-up.html" class="btn btn-lg btn-white">
                Try This Free
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card pricing-item">
          <h5 class="card-title">
            Business
          </h5>
          <p class="card-text">For starters Includes unlimited members</p>
          <div class="price">
            <p class="pricingtable-two">$350</p>
            <div class="discount">
              <p>$499</p>
              <div class="vector vector-two">
                <img src="images/pricing/Vector1.svg" alt="Vector">
              </div>
            </div>
            <div class="shape top-0">
              <img src="images/pricing/shape-two.png" alt="shape">
            </div>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>
                <i class="ph-check"></i>
                1 Site Activation
              </li>
              <li>
                <i class="ph-check"></i>
                1 Year Premium Support
              </li>
              <li>
                <i class="ph-check"></i>
                Regular Update for 1 Year
              </li>
              <li class="">
                <i class="ph-check"></i>
                90+ Widgets & Extensions
              </li>
              <li class="">
                <i class="ph-check"></i>
                23+ Templates
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                Over 800 Section Blocks
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                Support
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                3 filters
              </li>
              <li class="deactive">
                <i class="ph-check"></i>
                Unlimited activity history
              </li>
            </ul>
            <div class="link">
              <a href="sign-up.html" class="btn btn-lg btn-white">
                Try This Free
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>