<!-- 
  ########################## 
  Related Blogs Area -->
<section class="blog-related position-relative">
  <div class="container ">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-section">
          <h2 class="blog-section-title">
            Recent Blog
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-1.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a href="category.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-2.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a href="category.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="blog-post">
          <div class="blog-post-thumb">
            <img src="images/blog/blog-thumb-3.png" alt="blog-thum" />
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a href="category.html">Marketing</a>
            </div>
            <div class="blog-post-title">
              <a href="blog-single.html">How to host better email marketing campaigns?</a>
            </div>
            <div class="blog-post-meta">
              <ul>
                <li>July 20, 2022</li>
                <li>7 min</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>