<section class="services-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <nav id="scrol-nav" class="navbar navbar-light services-two-nav">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#item-one">Started in 2013</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#item-two">March 2015</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#item-three">August 2017</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#item-four">May 2020</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#item-five">December 2021</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-7 ms-auto">
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
          tabindex="0">
          <!----#####################--- >
          start services-two-items- Ebooks
          </-----######################----->
          <div class="services-two-items" id="item-one">
            <div class="card">
              <h3 class="sub-title">It all started in 2013.</h3>
              <div class="card-body">
                <p class="card-text">On the other hand, we denounce with righteous indignation and dislike men who
                  are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire,
                  that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to
                  those who fail in their duty through weakness of will, which is the same as saying through
                  shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.</p>
                <div class="card-banner">
                  <img src="images/services/service-image-6.png" class="w-100" alt="services-item">
                </div>
                <p class="">On the other hand, we denounce with righteous indignation and dislike men who
                  are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire,
                  that they cannot foresee the pain and trouble that are bound.</p>
              </div>
            </div>
          </div>
          <!----#####################--- >
          start services-two-items- Ebooks
          </-----######################----->
          <div class="services-two-items" id="item-two">
            <div class="card">
              <h3 class="sub-title">We hit 1 Million</h3>
              <div class="card-body">
                <p class="card-text mb-lg-4 mb-0">On the other hand, we denounce with righteous indignation and dislike
                  men who
                  are
                  so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they
                  cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who
                  fail in their duty through weakness of will, which is the same as saying through shrinking from toil
                  and pain. These cases are perfectly simple and easy to distinguish.</p>
              </div>
            </div>
          </div>
          <!----#####################--- >
          start services-two-items- Ebooks
          </-----######################----->
          <div class="services-two-items" id="item-three">
            <div class="card">
              <h3 class="sub-title">Sendit is introduced.</h3>
              <div class="card-body">
                <p class="card-text mb-lg-4 mb-0">On the other hand, we denounce with righteous indignation and dislike
                  men who
                  are
                  so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they
                  cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who
                  fail in their duty through weakness of will, which is the same as saying through shrinking from toil
                  and pain. These cases are perfectly simple and easy to distinguish.</p>
              </div>
            </div>
          </div>
          <!----#####################--- >
          start services-two-items- Ebooks
          </-----######################----->
          <div class="services-two-items" id="item-four">
            <div class="card">
              <h3 class="sub-title">Sendit is introduced.</h3>
              <div class="card-body">
                <p class="card-text mb-lg-4 mb-0">On the other hand, we denounce with righteous indignation and dislike
                  men who
                  are
                  so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they
                  cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who
                  fail in their duty through weakness of will, which is the same as saying through shrinking from toil
                  and pain. These cases are perfectly simple and easy to distinguish.</p>
              </div>
            </div>
          </div>
          <!----#####################--- >
          start services-two-items- Ebooks
          </-----######################----->
          <div class="services-two-items" id="item-five">
            <div class="card mb-0">
              <h3 class="sub-title">New company mission is introduced</h3>
              <div class="card-body">
                <p class="card-text">On the other hand, we denounce with righteous indignation and dislike men who
                  are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire,
                  that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to
                  those who fail in their duty through weakness of will, which is the same as saying through
                  shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.</p>
                <div class="card-banner">
                  <img src="images/services/service-image-7.png" class="w-100" alt="services-item">
                </div>
                <p class="">On the other hand, we denounce with righteous indignation and dislike men who
                  are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire,
                  that they cannot foresee the pain and trouble that are bound.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>