<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header">
          <h2 class="">
            <span>AI Powered</span> Services Do it all with Sendit
          </h2>
          <p>The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you customer
            relationships that last.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-icon">
            <img src="images/services/service-image-1.png" alt="services-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">Email campaigns</h4>
            <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-icon">
            <img src="images/services/service-image-2.png" alt="services-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">Sell digital products</h4>
            <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-icon">
            <img src="images/services/service-image-3.png" alt="services-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">Ready Made Template</h4>
            <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-icon">
            <img src="images/services/service-image-4.png" alt="services-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">Added your website</h4>
            <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-xxl-11 mb-7">
          <div class="card-icon">
            <img src="images/services/service-image-5.png" alt="services-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">Pop-ups</h4>
            <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card same-card">
          <div class="card-body">
            <h4 class="card-title">Discover Everything</h4>
            <a href="#" class="btn btn-links btn-sm">
              Contact
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>