<!--
  #################
  Team Section -->

<div class="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 mx-auto">
        <div class="section-header">
          <h2>
            Our leadership & Team Members
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-thumb">
            <img src="images/team/team-member-1.png" alt="team-member-1 png">
          </div>
          <div class="team-member-details">
            <h3>Cody Fisher</h3>
            <p>Co-Founder & CEO</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-thumb">
            <img src="images/team/team-member-2.png" alt="team-member-1 png">
          </div>
          <div class="team-member-details">
            <h3>Leslie Alexander</h3>
            <p>Co-founder & CTO</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-thumb">
            <img src="images/team/team-member-3.png" alt="team-member-1 png">
          </div>
          <div class="team-member-details">
            <h3>Theresa Webb</h3>
            <p>Head of Sales</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-thumb">
            <img src="images/team/team-member-4.png" alt="team-member-1 png">
          </div>
          <div class="team-member-details">
            <h3>Esther Howard</h3>
            <p>Marketing Coordinator</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-thumb">
            <img src="images/team/team-member-5.png" alt="team-member-1 png">
          </div>
          <div class="team-member-details">
            <h3>Arlene McCoy</h3>
            <p>Designer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-thumb">
            <img src="images/team/team-member-6.png" alt="team-member-1 png">
          </div>
          <div class="team-member-details">
            <h3>Kristin Watson</h3>
            <p>Marketing Coordinator</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-thumb">
            <img src="images/team/team-member-7.png" alt="team-member-1 png">
          </div>
          <div class="team-member-details">
            <h3>Dianne Russell</h3>
            <p>Marketing Coordinator</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>