<!--
  #############
  Testominal Section-->
<section class="testimonial pt-sm-14 pt-7 pb-xxl-13 pb-sm-18 pb-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 me-auto">
        <div class="testimonial-content">
          <h2>
            We Felt Proud When People Love our <span> Product</span>
          </h2>
          <p>
            We get you customer relationships that last. The stats are in our favour. SaaSFlow doesn't just help
            you.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="slider-wrapper">
          <div class="shape">
            <img src="images/testimonial/shape.svg" alt="svg">
          </div>
          <div class="testimonial-slider">
            <div class="testimonial-slider-item">
              <div class="testimonial-slider-person">
                <div class="thumb">
                  <img src="images/testimonial/logo.png" alt="logo">
                </div>
                <div class="content">
                  <h3>Jenny Wilson</h3>
                  <p>Head of Dev. at Static Mania</p>
                </div>
              </div>
              <p>Eget eu massa et consectetur. Mauris donec. Leo a, id sed duis proin sodales. Turpis viverra diam
                porttitor mattis morbi ac amet. Euismod commodo. We get you customer relationships that last. </p>
            </div>
            <div class="testimonial-slider-item">

              <div class="testimonial-slider-person">
                <div class="thumb">
                  <img src="images/testimonial/logo.png" alt="logo">
                </div>
                <div class="content">
                  <h3>Jenny Wilson</h3>
                  <p>Head of Dev. at Static Mania</p>
                </div>
              </div>
              <p>Eget eu massa et consectetur. Mauris donec. Leo a, id sed duis proin sodales. Turpis viverra diam
                porttitor mattis morbi ac amet. Euismod commodo. We get you customer relationships that last. </p>
            </div>
            <div class="testimonial-slider-item">

              <div class="testimonial-slider-person">
                <div class="thumb">
                  <img src="images/testimonial/logo.png" alt="logo">
                </div>
                <div class="content">
                  <h3>Jenny Wilson</h3>
                  <p>Head of Dev. at Static Mania</p>
                </div>
              </div>
              <p>Eget eu massa et consectetur. Mauris donec. Leo a, id sed duis proin sodales. Turpis viverra diam
                porttitor mattis morbi ac amet. Euismod commodo. We get you customer relationships that last. </p>
            </div>
            <div class="testimonial-slider-item">

              <div class="testimonial-slider-person">
                <div class="thumb">
                  <img src="images/testimonial/logo.png" alt="logo">
                </div>
                <div class="content">
                  <h3>Jenny Wilson</h3>
                  <p>Head of Dev. at Static Mania</p>
                </div>
              </div>
              <p>Eget eu massa et consectetur. Mauris donec. Leo a, id sed duis proin sodales. Turpis viverra diam
                porttitor mattis morbi ac amet. Euismod commodo. We get you customer relationships that last. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>